@using System.Web.Configuration
@model HsCollectionManager.Models.SelectCards

@{
    ViewBag.Title = "AllCards";
}
<link href="~/Content/HideButtons.css" rel="stylesheet" />

@if (@Model.UserModel.IsEditable)
{
    <h2 style = "text-align: center" > Chose cards for your collection</h2>
}
else
{
  <h2 style="text-align: center">@Model.UserModel.UserName</h2>
}
<div>
    @Html.ActionLink("All", "ShowCards", "Card", new { userName = Model.UserModel.UserName, userId = Model.UserModel.UserId, isEditable = Model.UserModel.IsEditable, category = "All", page = 1 }, new { @class = "btn btn-danger" })
    @Html.ActionLink("Druid", "ShowCards", "Card", new {userName = Model.UserModel.UserName, userId = Model.UserModel.UserId, isEditable = Model.UserModel.IsEditable, category = "Druid", page = 1}, new {@class = "btn btn-info"})
    @Html.ActionLink("Hunter", "ShowCards", "Card", new {userName = Model.UserModel.UserName, userId = Model.UserModel.UserId, isEditable = Model.UserModel.IsEditable, category = "Hunter", page = 1}, new {@class = "btn btn-info"})
    @Html.ActionLink("Mage", "ShowCards", "Card", new {userName = Model.UserModel.UserName, userId = Model.UserModel.UserId, isEditable = Model.UserModel.IsEditable, category = "Mage", page = 1}, new {@class = "btn btn-info"})
    @Html.ActionLink("Paladin", "ShowCards", "Card", new {userName = Model.UserModel.UserName, userId = Model.UserModel.UserId, isEditable = Model.UserModel.IsEditable, category = "Paladin", page = 1}, new {@class = "btn btn-info"})
    @Html.ActionLink("Priest", "ShowCards", "Card", new {userName = Model.UserModel.UserName, userId = Model.UserModel.UserId, isEditable = Model.UserModel.IsEditable, category = "Priest", page = 1}, new {@class = "btn btn-info"})
    @Html.ActionLink("Rogue", "ShowCards", "Card", new {userName = Model.UserModel.UserName, userId = Model.UserModel.UserId, isEditable = Model.UserModel.IsEditable, category = "Rogue", page = 1}, new {@class = "btn btn-info"})
    @Html.ActionLink("Shaman", "ShowCards", "Card", new {userName = Model.UserModel.UserName, userId = Model.UserModel.UserId, isEditable = Model.UserModel.IsEditable, category = "Shaman", page = 1}, new {@class = "btn btn-info"})
    @Html.ActionLink("Warlock", "ShowCards", "Card", new {userName = Model.UserModel.UserName, userId = Model.UserModel.UserId, isEditable = Model.UserModel.IsEditable, category = "Warlock", page = 1}, new {@class = "btn btn-info"})
    @Html.ActionLink("Warrior", "ShowCards", "Card", new {userName = Model.UserModel.UserName, userId = Model.UserModel.UserId, isEditable = Model.UserModel.IsEditable, category = "Warrior", page = 1}, new {@class = "btn btn-info"})
    @Html.ActionLink("Neutral", "ShowCards", "Card", new {userName = Model.UserModel.UserName, userId = Model.UserModel.UserId, isEditable = Model.UserModel.IsEditable, category = "Neutral", page = 1}, new {@class = "btn btn-info"})
</div>

@foreach (var item in Model.Cards.Take(4))
{
    <div style="float: left; width: 280px;" id="@item.Id">
        <h3 style="text-align: center">@item.Name</h3>
        <img src="@item.Img" />
        <button class="@(@Model.UserModel.IsEditable ? "1" : "hidden")" onclick="addToCollection(@item.Id)">Add</button>
        <button class="@(@Model.UserModel.IsEditable ? "2 visible" : "hidden")" onclick="removeFromCollection(@item.Id)">Remove</button>
    </div>
}
@foreach (var item in Model.Cards.Skip(4).Take(4))
{
    <div style="float: left; width: 280px;" id="@item.Id">
        <h3 style="text-align: center">@item.Name</h3>
        <img src="@item.Img" />
        <button class="@(@Model.UserModel.IsEditable ? "1" : "hidden")" onclick="addToCollection(@item.Id)">Add</button>
        <button class="@(@Model.UserModel.IsEditable ? "2 visible" : "hidden")" onclick="removeFromCollection(@item.Id)">Remove</button>
    </div>
}
<div style="clear: left; margin: 20px">

    @Html.ActionLink("Prev", "ShowCards", "Card", new { UserName = Model.UserModel.UserName, UserId = Model.UserModel.UserId, Model.UserModel.IsEditable, category = Model.UserModel.Category,
        manacost = Model.UserModel.Manacost, page = @Model.PageInfo.CurrentPage - 1 }, 
        new { @style = "clear: left", @class = Model.PageInfo.CurrentPage == 1 ? "btn btn-success hidden" : "btn btn-success" })

    @Html.ActionLink("All", "ShowCards", "Card", new { userName = Model.UserModel.UserName, userId = Model.UserModel.UserId, isEditable = Model.UserModel.IsEditable, category = Model.UserModel.Category, page = 1 }, new { @style = "clear: left", @class = "btn btn-danger" })
    @Html.ActionLink("0", "ShowCards", "Card", new { userId = Model.UserModel.UserId, userName = Model.UserModel.UserName, category = Model.UserModel.Category, manacost = 0, isEditable = Model.UserModel.IsEditable }, new { @class = "btn btn-primary" })
    @Html.ActionLink("1", "ShowCards", "Card", new { userId = Model.UserModel.UserId, userName = Model.UserModel.UserName, category = Model.UserModel.Category, manacost = 1, isEditable = Model.UserModel.IsEditable }, new { @class = "btn btn-primary" })
    @Html.ActionLink("2", "ShowCards", "Card", new { userId = Model.UserModel.UserId, userName = Model.UserModel.UserName, category = Model.UserModel.Category, manacost = 2, isEditable = Model.UserModel.IsEditable }, new { @class = "btn btn-primary" })
    @Html.ActionLink("3", "ShowCards", "Card", new { userId = Model.UserModel.UserId, userName = Model.UserModel.UserName, category = Model.UserModel.Category, manacost = 3, isEditable = Model.UserModel.IsEditable }, new { @class = "btn btn-primary" })
    @Html.ActionLink("4", "ShowCards", "Card", new { userId = Model.UserModel.UserId, userName = Model.UserModel.UserName, category = Model.UserModel.Category, manacost = 4, isEditable = Model.UserModel.IsEditable }, new{ @class = "btn btn-primary" })
    @Html.ActionLink("5", "ShowCards", "Card", new { userId = Model.UserModel.UserId, userName = Model.UserModel.UserName, category = Model.UserModel.Category, manacost = 5, isEditable = Model.UserModel.IsEditable }, new { @class = "btn btn-primary" })
    @Html.ActionLink("6", "ShowCards", "Card", new { userId = Model.UserModel.UserId, userName = Model.UserModel.UserName, category = Model.UserModel.Category, manacost = 6, isEditable = Model.UserModel.IsEditable }, new { @class = "btn btn-primary" })
    @Html.ActionLink("7+", "ShowCards", "Card", new { userId = Model.UserModel.UserId, userName = Model.UserModel.UserName, category = Model.UserModel.Category, manacost = 7, isEditable = Model.UserModel.IsEditable }, new { @class = "btn btn-primary" })

    @Html.ActionLink("Next", "ShowCards", "Card", new { UserName = Model.UserModel.UserName, UserId = Model.UserModel.UserId, Model.UserModel.IsEditable, category = Model.UserModel.Category,
    manacost = Model.UserModel.Manacost, page = @Model.PageInfo.CurrentPage + 1 }, new { @style = "clear: left", @class = Model.PageInfo.CurrentPage == Model.PageInfo.TotalPages ? "btn btn-success hidden" : "btn btn-success" })



    @Html.ActionLink("Finish", "ShowCards", "Card", new { userName = Model.UserModel.UserName, userId = Model.UserModel.UserId, isEditable = false, page = 1 }, new { @class = Model.UserModel.IsEditable ? "btn btn-success" : "hidden" })
</div>
<script>
    function insertCardIntoDb(cardId) {
        $.ajax({
            type: "POST",
            url: "/Card/InsertUserCard",
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: { cardId: cardId, userId: "@Model.UserModel.UserId" },
            success: toggleButtonsVisibility(cardId),
            error: function (xhr, textStatus, errorThrown) {
                // TODO: Show error
            }
        });
    }

    function removeCardFromDb(cardId) {
        $.ajax({
            type: "POST",
            url: "/Card/RemoveFromCollection",
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: { cardId: cardId, UserId: "@Model.UserModel.UserId" },
            success: toggleButtonsVisibility(cardId),
            error: function (xhr, textStatus, errorThrown) {
                // TODO: Show error
            }
        });
    }

    function toggleButtonsVisibility(cardId) {
        $("div#" + cardId).find("button").toggleClass("visible");
    }

    function addToCollection(cardId) {
        insertCardIntoDb(cardId);
    }

    function removeFromCollection(cardId) {
        removeCardFromDb(cardId);
    }
</script>








