@model HsCollectionManager.Models.SelectCards

@{
    ViewBag.Title = "AllCards";
}
<link href="~/Content/HideButtons.css" rel="stylesheet" />
<h2>AllCards</h2>

@foreach (var item in Model.Cards.Take(4))
{
    <div style="float: left; width: 280px;">
        <h3 style="text-align: center">@item.Name</h3>
        <img src="@item.Img" />
        <button class="1">Add</button>
        <button class="2 visible">Remove</button>
    </div>
}
@foreach (var item in Model.Cards.Skip(4).Take(4))
{
    <div style="float: left; width: 280px;">
        <h3 style="text-align: center">@item.Name</h3>
        <img src="@item.Img" />
        <button class="1">Add</button>
        <button class="2 visible">Remove</button>
    </div>
}
<div style="clear: left; margin: 20px">
    
    @Html.ActionLink("Prev", "ShowAllCards", "Home", new { UserName = Model.UserName, UserId = Model.UserId, page = @Model.PageInfo.CurrentPage - 1 },
    new { @style = "clear: left", @class = Model.PageInfo.CurrentPage == 1 ? "btn btn-success hidden" : "btn btn-success" })

    @Html.ActionLink("Next", "ShowAllCards", "Home", new { UserName = Model.UserName, UserId = Model.UserId, page = @Model.PageInfo.CurrentPage + 1 },
    new { @style = "clear: left", @class = Model.PageInfo.CurrentPage == Model.PageInfo.TotalPages ? "btn btn-success hidden" : "btn btn-success" })

    @Html.ActionLink("0", "ShowUserCardsManaCost", "Home", new { userId = Model.UserId, manacost = 0 }, new { @class = "btn btn-warning" })
    @Html.ActionLink("1", "ShowUserCardsManaCost", "Home", new { userId = Model.UserId, manacost = 1 }, new { @class = "btn btn-warning" })
    @Html.ActionLink("2", "ShowUserCardsManaCost", "Home", new { userId = Model.UserId, manacost = 2 }, new { @class = "btn btn-warning" })
    @Html.ActionLink("3", "ShowUserCardsManaCost", "Home", new { userId = Model.UserId, manacost = 3 }, new { @class = "btn btn-warning" })
    @Html.ActionLink("4", "ShowUserCardsManaCost", "Home", new { userId = Model.UserId, manacost = 4 }, new { @class = "btn btn-warning" })
    @Html.ActionLink("5", "ShowUserCardsManaCost", "Home", new { userId = Model.UserId, manacost = 5 }, new { @class = "btn btn-warning" })
    @Html.ActionLink("6", "ShowUserCardsManaCost", "Home", new { userId = Model.UserId, manacost = 6 }, new { @class = "btn btn-warning" })
    @Html.ActionLink("7+", "ShowUserCardsMoreThenSevenManaCost", "Home", new { userId = Model.UserId }, new { @class = "btn btn-warning" })

    @Html.ActionLink("Finish", "Index", null, new { @class = "btn btn-success" })
</div>
<script>
    var addToCollection = function () {
        var img = this.parentElement.getElementsByTagName('img');

        $.ajax({
            type: "POST",
            url: "/Home/InsertUserCard",
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: { CardImg: img[0].src, UserId: "@Model.UserId" },
            success: function () {
            },
            error: function (xhr, textStatus, errorThrown) {
                // TODO: Show error
            }
        });

        var btns = this.parentElement.getElementsByTagName('button');
        for (var i = 0; i < btns.length; i++) {
            btns[i].classList.toggle("visible");
        }
    }

    var removeFromCollection = function () {
        var img = this.parentElement.getElementsByTagName('img');

        $.ajax({
            type: "POST",
            url: "/Home/RemoveFromCollection",
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: { CardImg: img[0].src, UserId: "@Model.UserId" },
            success: function () {
            },
            error: function (xhr, textStatus, errorThrown) {
                // TODO: Show error
            }
        });

        var btns = this.parentElement.getElementsByTagName('button');
        for (var i = 0; i < btns.length; i++) {
            btns[i].classList.toggle("visible");
        }
    }

    var btns1 = document.getElementsByClassName('1');
    for (var i = 0; i < btns1.length; i++) {
        btns1[i].addEventListener("click", addToCollection);
    }

    var btns2 = document.getElementsByClassName('2');
    for (var i = 0; i < btns2.length; i++) {
        btns2[i].addEventListener("click", removeFromCollection);
    }
</script>











@*
        this is the template for future to improve design

        <div id="carousel" class="carousel">
        <button class="arrow prev">⇦</button>
        <div class="gallery">
            <ul class="images">
                <li><img src="https://js.cx/carousel/1.png"></li>
                <li><img src="https://js.cx/carousel/2.png"></li>
                <li><img src="https://js.cx/carousel/3.png"></li>
                <li><img src="https://js.cx/carousel/4.png"></li>
                <li><img src="https://js.cx/carousel/5.png"></li>
                <li><img src="https://js.cx/carousel/6.png"></li>
                <li><img src="https://js.cx/carousel/7.png"></li>
                <li><img src="https://js.cx/carousel/8.png"></li>
                <li><img src="https://js.cx/carousel/9.png"></li>
                <li><img src="https://js.cx/carousel/10.png"></li>
            </ul>
        </div>
        <button class="arrow next">11</button>
    </div>
    <script>
        /* этот код помечает картинки, для удобства разработки */
        var lis = document.getElementsByTagUserName('li');
        for (var i = 0; i < lis.length; i++) {
            lis[i].style.position = 'relative';
            var span = document.createElement('span');
            // обычно лучше использовать CSS-классы,
            // но этот код - для удобства разработки, так что не будем трогать стили
           span.style.cssText = 'position:absolute;left:0;top:0';
            span.innerHTML = i + 1;
            lis[i].appendChild(span);
        }

        /* конфигурация */
        var width = 130; // ширина изображения
        var count = 3; // количество изображений

        var carousel = document.getElementByUserId('carousel');
        var list = carousel.querySelector('ul');
        var listElems = carousel.querySelectorAll('li');

        var position = 0; // текущий сдвиг влево

        carousel.querySelector('.prev').onclick = function () {
            // сдвиг влево
            // последнее передвижение влево может быть не на 3, а на 2 или 1 элемент
            position = Math.min(position + width * count, 0)
            list.style.marginLeft = position + 'px';
        };

        carousel.querySelector('.next').onclick = function () {
            // сдвиг вправо
            // последнее передвижение вправо может быть не на 3, а на 2 или 1 элемент
            position = Math.max(position - width * count, -width * (listElems.length - count));
            list.style.marginLeft = position + 'px';
        };
    </script>*@
