@model HsCollectionManager.Models.SelectCards
@{
    ViewBag.Title = "ShowUserCards";
}

<h2 style="text-align: center">Cards owned by @Model.UserName</h2>

@foreach (var item in Model.Cards.Take(4))
{
    <div style="float: left; width: 280px;">
        <h3 style="text-align: center">@item.Name</h3>
        <img src="@item.Img" />
    </div>
}
@foreach (var item in Model.Cards.Skip(4).Take(4))
{
    <div style="float: left; width: 280px;">
        <h3 style="text-align: center">@item.Name</h3>
        <img src="@item.Img" />
    </div>
}
<div style="clear: left">
    
    @Html.ActionLink("Prev", "ShowUserCards", "Home", new { userName = Model.UserName, userId = Model.UserId, page = @Model.PageInfo.CurrentPage - 1 },
    new { @style = "clear: left", @class = Model.PageInfo.CurrentPage == 1 ? "btn btn-success hidden" : "btn btn-success" })

    @Html.ActionLink("Next", "ShowUserCards", "Home", new { userName = Model.UserName, userId = Model.UserId, page = @Model.PageInfo.CurrentPage + 1 },
    new { @class = Model.PageInfo.CurrentPage == Model.PageInfo.TotalPages ? "btn btn-success hidden" : "btn btn-success" })
    
    @Html.ActionLink("All", "ShowUserCards", "Home", new { userName = Model.UserName, userId = Model.UserId, page = 1 },
    new { @style = "clear: left", @class = "btn btn-success"  })

    @Html.ActionLink("0", "ShowUserCardsManaCost", "Home", new { userId = Model.UserId, userCards = Model, manacost = 0 }, new { @class = "btn btn-warning" })
    @Html.ActionLink("1", "ShowUserCardsManaCost", "Home", new {userId = Model.UserId, userCards = Model, manacost = 1}, new {@class = "btn btn-warning"})
    @Html.ActionLink("2", "ShowUserCardsManaCost", "Home", new { userId = Model.UserId, userCards = Model, manacost = 2 }, new { @class = "btn btn-warning" })
    @Html.ActionLink("3", "ShowUserCardsManaCost", "Home", new { userId = Model.UserId, userCards = Model, manacost = 3 }, new { @class = "btn btn-warning" })
    @Html.ActionLink("4", "ShowUserCardsManaCost", "Home", new { userId = Model.UserId, userCards = Model, manacost = 4 }, new { @class = "btn btn-warning" })
    @Html.ActionLink("5", "ShowUserCardsManaCost", "Home", new { userId = Model.UserId, userCards = Model, manacost = 5 }, new { @class = "btn btn-warning" })
    @Html.ActionLink("6", "ShowUserCardsManaCost", "Home", new { userId = Model.UserId, userCards = Model, manacost = 6 }, new { @class = "btn btn-warning" })
    @Html.ActionLink("7", "ShowUserCardsManaCost", "Home", new { userId = Model.UserId, userCards = Model, manacost = 7 }, new { @class = "btn btn-warning" })
</div>



